html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
}

#header {
	background: #333332;
	font-size: 0px;
	padding: 10px 0px 10px 0px;
}

#cf-game-col {
	font-size: 0px;
}